In [67]:

import pandas as pd
df=pd.read_csv("Sales-Export_2019-2020.csv")
print(df.head())

    country  order_value_EUR       cost         date  category  \
0    Sweden         17,524.02   14122.61   2/12/2020     Books
1   Finland        116,563.40   92807.78   9/26/2019     Games
2  Portugal        296,465.56  257480.34   7/11/2019  Clothing
3  Portugal         74,532.02   59752.32    4/2/2020    Beauty
4     Spain        178,763.42  146621.76  12/22/2019     Games

       customer_name    sales_manager           sales_rep device_type  \
0    Goldner-Dibbert     Maxie Marrow       Madelon Bront      Mobile
1   Hilll-Vandervort       Hube Corey         Wat Bowkley      Mobile
2     Larkin-Collier  Celine Tumasian  Smitty Culverhouse          PC
3  Hessel-Stiedemann  Celine Tumasian        Aurelie Wren          PC
4     Johns and Sons     Emalia Dinse     Bertha Walbrook      Tablet

     order_id
0  70-0511466
1  28-6585323
2  58-7703341
3  14-6700183
4  15-8765160

In [58]:
print(df.isnull().sum())

country              0
 order_value_EUR     0
 cost                0
date                 0
category             0
customer_name        0
sales_manager        0
sales_rep            0
device_type          0
order_id             0
dtype: int64

In [59]:
print(df["order_id"].drop_duplicates())

0      70-0511466
1      28-6585323
2      58-7703341
3      14-6700183
4      15-8765160
          ...
995    77-3489084
996    59-2117058
997    31-1849120
998    45-3085595
999    61-3294149
Name: order_id, Length: 1000, dtype: object

In [60]:
df.columns=df.columns.str.strip()
print(df)

      country order_value_EUR       cost        date     category  \
0      Sweden       17,524.02   14122.61   2/12/2020        Books
1     Finland      116,563.40   92807.78   9/26/2019        Games
2    Portugal      296,465.56  257480.34   7/11/2019     Clothing
3    Portugal       74,532.02   59752.32    4/2/2020       Beauty
4       Spain      178,763.42  146621.76  12/22/2019        Games
..        ...             ...        ...         ...          ...
995    France       46,296.26   40319.41   5/15/2020        Games
996   Belgium      118,061.05  101131.10    7/2/2020   Appliances
997   Finland       74,480.56   60023.88    3/6/2020     Clothing
998     Spain       87,205.01   69171.01   6/18/2020        Games
999  Portugal      107,716.72   86679.64   1/18/2020  Accessories

                  customer_name    sales_manager            sales_rep  \
0               Goldner-Dibbert     Maxie Marrow        Madelon Bront
1              Hilll-Vandervort       Hube Corey          Wat Bowkley
2                Larkin-Collier  Celine Tumasian   Smitty Culverhouse
3             Hessel-Stiedemann  Celine Tumasian         Aurelie Wren
4                Johns and Sons     Emalia Dinse      Bertha Walbrook
..                          ...              ...                  ...
995                  Wisoky Inc    Othello Bowes  Amelina Piscopiello
996              Johns and Sons  Lambert Norheny      Collin Mackness
997             Homenick-Marvin       Hube Corey          Wat Bowkley
998              Johns and Sons     Emalia Dinse        Manuel Goudie
999  Jacobson, Marvin and Brown  Celine Tumasian       Brynn Dempster

    device_type    order_id
0        Mobile  70-0511466
1        Mobile  28-6585323
2            PC  58-7703341
3            PC  14-6700183
4        Tablet  15-8765160
..          ...         ...
995      Tablet  77-3489084
996      Mobile  59-2117058
997          PC  31-1849120
998      Tablet  45-3085595
999      Mobile  61-3294149

[1000 rows x 10 columns]

In [61]:
# Convert to datetime and then to string in the required format
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.strftime('%d-%m-%Y')
print(df)

      country order_value_EUR       cost        date     category  \
0      Sweden       17,524.02   14122.61  12-02-2020        Books
1     Finland      116,563.40   92807.78  26-09-2019        Games
2    Portugal      296,465.56  257480.34  11-07-2019     Clothing
3    Portugal       74,532.02   59752.32  02-04-2020       Beauty
4       Spain      178,763.42  146621.76  22-12-2019        Games
..        ...             ...        ...         ...          ...
995    France       46,296.26   40319.41  15-05-2020        Games
996   Belgium      118,061.05  101131.10  02-07-2020   Appliances
997   Finland       74,480.56   60023.88  06-03-2020     Clothing
998     Spain       87,205.01   69171.01  18-06-2020        Games
999  Portugal      107,716.72   86679.64  18-01-2020  Accessories

                  customer_name    sales_manager            sales_rep  \
0               Goldner-Dibbert     Maxie Marrow        Madelon Bront
1              Hilll-Vandervort       Hube Corey          Wat Bowkley
2                Larkin-Collier  Celine Tumasian   Smitty Culverhouse
3             Hessel-Stiedemann  Celine Tumasian         Aurelie Wren
4                Johns and Sons     Emalia Dinse      Bertha Walbrook
..                          ...              ...                  ...
995                  Wisoky Inc    Othello Bowes  Amelina Piscopiello
996              Johns and Sons  Lambert Norheny      Collin Mackness
997             Homenick-Marvin       Hube Corey          Wat Bowkley
998              Johns and Sons     Emalia Dinse        Manuel Goudie
999  Jacobson, Marvin and Brown  Celine Tumasian       Brynn Dempster

    device_type    order_id
0        Mobile  70-0511466
1        Mobile  28-6585323
2            PC  58-7703341
3            PC  14-6700183
4        Tablet  15-8765160
..          ...         ...
995      Tablet  77-3489084
996      Mobile  59-2117058
997          PC  31-1849120
998      Tablet  45-3085595
999      Mobile  61-3294149

[1000 rows x 10 columns]

In [66]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          1000 non-null   object
 1   order_value_EUR  1000 non-null   float64
 2   cost             1000 non-null   float64
 3   date             1000 non-null   object
 4   category         1000 non-null   object
 5   customer_name    1000 non-null   object
 6   sales_manager    1000 non-null   object
 7   sales_rep        1000 non-null   object
 8   device_type      1000 non-null   object
 9   order_id         1000 non-null   object
dtypes: float64(2), object(8)
memory usage: 78.3+ KB
None
    country  order_value_EUR       cost      date  category  \
0    sweden         17524.02   14122.61  12-02-20     books
1   finland        116563.40   92807.78  26-09-19     games
2  portugal        296465.56  257480.34  11-07-19  clothing
3  portugal         74532.02   59752.32  02-04-20    beauty
4     spain        178763.42  146621.76  22-12-19     games

       customer_name    sales_manager           sales_rep device_type  \
0    goldner-dibbert     maxie marrow       madelon bront      mobile
1   hilll-vandervort       hube corey         wat bowkley      mobile
2     larkin-collier  celine tumasian  smitty culverhouse          pc
3  hessel-stiedemann  celine tumasian        aurelie wren          pc
4     johns and sons     emalia dinse     bertha walbrook      tablet

     order_id
0  70-0511466
1  28-6585323
2  58-7703341
3  14-6700183
4  15-8765160

In [65]:
import pandas as pd

# Load the dataset
df = pd.read_csv("Sales-Export_2019-2020.csv")

# Step 1: Strip leading/trailing whitespace from column names
df.columns = df.columns.str.strip()

# Step 2: Remove duplicate rows
df = df.drop_duplicates()

# Step 3: Convert 'order_value_EUR' to numeric
df['order_value_EUR'] = df['order_value_EUR'].str.replace(',', '', regex=False)
df['order_value_EUR'] = pd.to_numeric(df['order_value_EUR'], errors='coerce')

# Step 4: Convert 'date' column to datetime
df['date'] = pd.to_datetime(df['date'])
df['date']=df['date'].dt.strftime('%d-%m-%y')

# Step 5: Standardize string columns (lowercase + strip)
for col in df.select_dtypes(include='object').columns:
    if col not in ['order_id']:  # Preserve order_id format
        df[col] = df[col].str.lower().str.strip()

# Step 6: Final check
print(df.info())
print(df.head())

# Step 7: Save cleaned dataset
df.to_csv('cleaned_sales_export.csv', index=False)
print(" Cleaned dataset saved as 'cleaned_sales_export.csv'")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          1000 non-null   object
 1   order_value_EUR  1000 non-null   float64
 2   cost             1000 non-null   float64
 3   date             1000 non-null   object
 4   category         1000 non-null   object
 5   customer_name    1000 non-null   object
 6   sales_manager    1000 non-null   object
 7   sales_rep        1000 non-null   object
 8   device_type      1000 non-null   object
 9   order_id         1000 non-null   object
dtypes: float64(2), object(8)
memory usage: 78.3+ KB
None
    country  order_value_EUR       cost      date  category  \
0    sweden         17524.02   14122.61  12-02-20     books
1   finland        116563.40   92807.78  26-09-19     games
2  portugal        296465.56  257480.34  11-07-19  clothing
3  portugal         74532.02   59752.32  02-04-20    beauty
4     spain        178763.42  146621.76  22-12-19     games

       customer_name    sales_manager           sales_rep device_type  \
0    goldner-dibbert     maxie marrow       madelon bront      mobile
1   hilll-vandervort       hube corey         wat bowkley      mobile
2     larkin-collier  celine tumasian  smitty culverhouse          pc
3  hessel-stiedemann  celine tumasian        aurelie wren          pc
4     johns and sons     emalia dinse     bertha walbrook      tablet

     order_id
0  70-0511466
1  28-6585323
2  58-7703341
3  14-6700183
4  15-8765160
 Cleaned dataset saved as 'cleaned_sales_export.csv'